.logout
{margin-left: 300px;
  margin-top: 0px;
 border-radius: 20px;
padding: 30px;
background-color: rgb(167, 11, 19);}

text{
    margin-top: 0px;
    font-size: 40px;
    font-weight: 900;
    align-items: center;
    justify-content: center;
    display: flex;
    color: rgb(128, 3, 107);
}
.bon{
    background-color: rgb(226, 79, 21);
    margin-left: 580px;
    width: 200px;
    height: 50px;
    margin-top: 0px;
    font-size: 30px;
    font-weight: 300px;
   
}
